body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    margin-left: 55%;
    margin-top: 1%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

select, .FormButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.QuestionButton{
    border: none;
    background-color: white;
    padding: 0.9vw;
}
.QuestionButton:hover img {
    filter: grayscale(50%); 
}
img{
    width: clamp(1vw, 75px, 15vw);
}
.FormButton{
    background-color: #0066ff;
    color: white;
    cursor: pointer;
    border: none;
}

.FormButton:hover {
    background-color: #004bcc;
}
optgroup {
    background-color: #44b0e2;
    color: #ffffff;
}

#answer {
    padding: 10px;
    background: #eef3ff;
    border-radius: 5px;
    white-space: pre-line;
    min-height: 40px;
}
#map {
    position: absolute; 
    width: 50%;
}
#questionSelect option:disabled {
    background-color: #ddd;
    color: #666;
}
h2{
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
    font-size: clamp(10px, 26px, 2vh);
}
select{
    padding: 0.5vh;
}

@media (orientation: portrait) {
    #map {
        position: absolute; 
        width: 90vw;
        top: 5px; 
        right: 5vw;  
        bottom: 0;  
        left: 5vw; 
        height: 55vh;
    }
    #spacer{
        height: 55vh;
    }
    select{
        margin: 0.5vh;
    }
    .container {        
        margin-left: 5vw;
        margin-right: 5vw;
        padding: 1vw;
        width: 88vw;
    }
}

/* Landscape mode */
@media (orientation: landscape) {
    #map {
        position: absolute; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        left: 0; 
        width: 50%;
    }
}